{% load static %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Add Subject</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      {% url 'save_subject' as action_path %}
      {% include 'admin_template/form_subject_template.html' with messages=messages form=form action_path=action_path button_text="Add Subject" %}
   
    </div>
  </div>
</section>