{% load static %}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Add Director</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      {% url 'save_director' as action_path %}
      {% include 'admin_template/form_template.html' with messages=messages form=form action_path=action_path button_text="Add Director" %}
    </div>
  </div>
</section>